.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.DataWraper {
  height: 800px;
  width: 700px;
}

.AddPerson {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background-color: rgb(142, 218, 142);
  height: 50px;
  width: 200px;
  margin-bottom: 20px;
}

.PersonsWrapper {
  display: flex;
  flex-direction: column;
  height: 750px;
  overflow: auto;
}
